@section styles{
    <link href="~/Content/css/framework-ui.css" rel="stylesheet" />
    <link href="~/Content/js/plugins/select2/select2.min.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Content/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="~/Content/js/plugins/jquery/jquery.form.js"></script>
    <script src="~/Content/js/plugins/select2/select2.min.js"></script>
    <script src="~/Content/js/framework-ui.js"></script>
    <script>
        var keyValue = $.request("keyValue");
        $(function () {
            $.taskForm.initControl();
        });
        (function ($) {
            $.taskForm = {
                initControl: function () {
                    $("#categoryId").bindSelect({
                        url: "/Category/InitCategory",
                        id: "id",
                        text: "text"
                    });
                    $("#nodeId").bindSelect({
                        url: "/Node/InitNode",
                        id: "id",
                        text: "text"
                    });
                    if (!!keyValue) {
                        $.ajax({
                            url: "/Task/InitForm",
                            data: { "keyValue": keyValue },
                            dataType: "json",
                            async: false,
                            success: function (data) {
                                $("#form1").formSerialize(data);
                            }
                        });
                    }
                },
                submitForm: function () {
                    if (!$('#form1').formValid())
                        return false;
                    var postdata = $("#form1").formSerialize();
                    $.submitForm({
                        url: "/Task/SubmitForm",
                        param: postdata,
                        success: function () {
                            $.currentWindow().$("#grid").trigger("reloadGrid");
                        }
                    });
                }
            };
        })(jQuery);
    </script>}
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">任务名称</th>
                    <td class="formValue">
                        <input id="taskName" name="taskName" type="text" class="form-control required" />
                        <input id="taskId" name="taskId" type="hidden" class="form-control" />
                        <input id="createTime" name="createTime" type="hidden" class="form-control" />
                    </td>
                    <th class="formTitle">Cron表达式</th>
                    <td class="formValue">
                        <input id="taskCron" name="taskCron" type="text" class="form-control required" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">分类</th>
                    <td class="formValue">
                        <select type="select" id="categoryId" name="categoryId" class="form-control select2 required">
                            <option value="">--请选择--</option>
                        </select>
                    </td>
                    <th class="formTitle">节点</th>
                    <td class="formValue">
                        <select type="select" id="nodeId" name="nodeId" class="form-control select2 required">
                            <option value="">--请选择--</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" valign="top" style="padding-top: 5px;">
                        任务配置
                    </th>
                    <td class="formValue" colspan="3">
                        <textarea type="textarea" id="taskAppConfigJson" name="taskAppConfigJson" class="form-control" style="height: 40px;"></textarea>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" valign="top" style="padding-top: 5px;">
                        临时数据库
                    </th>
                    <td class="formValue" colspan="3">
                        <textarea type="textarea" id="taskTempDataJson" name="taskTempDataJson" class="form-control" style="height: 40px;"></textarea>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" valign="top" style="padding-top: 5px;">
                        类命名空间
                    </th>
                    <td class="formValue" colspan="3">
                        <input id="taskMainClassDllFileName" name="taskMainClassDllFileName" type="text" class="form-control required" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" valign="top" style="padding-top: 5px;">
                        dll文件名
                    </th>
                    <td class="formValue" colspan="3">
                        <input id="taskMainClassNamespace" name="taskMainClassNamespace" type="text" class="form-control required" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" valign="top" style="padding-top: 5px;">
                        上传附件
                    </th>
                    <td class="formValue" colspan="3">
                        <input type="file" name="taskDll" id="taskDll" class="form-control required">
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" valign="top" style="padding-top: 5px;">
                        备注
                    </th>
                    <td class="formValue" colspan="3">
                        <textarea type="textarea" id="taskRemark" name="taskRemark" class="form-control" style="height: 60px;"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>

