<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="add" authorize="yes" class="btn btn-primary dropdown-text" onclick="$.taskIndex.addTask()"><i class="fa fa-plus"></i>新建任务</a>
        </div>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="任务名称" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="grid"></table>
    <div id="gridPager"></div>
</div>
@section scripts{
    <script src="~/Content/css/plugins/jqgrid/jqgrid.min.js"></script>
    <script src="~/Content/js/plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="~/Content/js/framework-ui.js"></script>
    <script src="~/Content/js/plugins/dialog/dialog.js"></script>

    <script>
        $(function () {
            $.taskIndex.initGrid();
        });
        (function ($) {
            $.taskIndex = {
                initGrid: function () {
                    $("#grid").dataGrid({
                        url: "/Task/List",
                        height: $(window).height() - 128,
                        colModel: [
                            { label: '主键', name: 'taskId', align: 'center', width: "80" },
                            { label: '任务名称', name: 'taskName', align: 'center', width: "100" },
                            { label: '执行频率', name: 'taskCron', align: 'center', width: "100" },
                            {
                                label: '创建时间',
                                name: 'createTime',
                                align: 'center',
                                width: "100",
                                formatter: function(cellvalue, options, rowObject) {
                                    if (cellvalue != '')
                                        return $.FormatDateBoxFull(cellvalue);
                                    else
                                        return cellvalue;
                                }
                            },
                            {
                                label: '修改时间',
                                name: 'lastUpdTime',
                                align: 'center',
                                width: "100",
                                formatter: function(cellvalue, options, rowObject) {
                                    if (cellvalue != '')
                                        return $.FormatDateBoxFull(cellvalue);
                                    else
                                        return cellvalue;
                                }
                            },
                            {
                                label: '最后启动时间',
                                name: 'taskLastStartTime',
                                align: 'center',
                                width: "100",
                                formatter: function(cellvalue, options, rowObject) {
                                    if (cellvalue != '')
                                        return $.FormatDateBoxFull(cellvalue);
                                    else
                                        return cellvalue;
                                }
                            },
                            {
                                label: '最后停止时间',
                                name: 'taskLastEndTime',
                                align: 'center',
                                width: "100",
                                formatter: function(cellvalue, options, rowObject) {
                                    if (cellvalue != '')
                                        return $.FormatDateBoxFull(cellvalue);
                                    else
                                        return cellvalue;
                                }
                            },
                            {
                                label: '最后执行出错时间',
                                name: 'taskLastErrorTime',
                                align: 'center',
                                width: "120",
                                formatter: function(cellvalue, options, rowObject) {
                                    if (cellvalue != '')
                                        return $.FormatDateBoxFull(cellvalue);
                                    else
                                        return cellvalue;
                                }
                            },
                            { label: '运行次数', name: 'taskRunCount', align: 'center', width: "100" },
                            { label: '连续出错次数', name: 'taskErrorCount', align: 'center', width: "100" },
                            {
                                label: "任务状态",
                                name: "taskState",
                                align: "center",
                                width: "100",
                                formatter: function(cellvalue, options, rowObject) {
                                    if (cellvalue == 0)
                                        return '<span class=\"label label-success\">启动</span>';
                                    else
                                        return '<span class=\"label label-default\">停止</span>';
                                }
                            },
                            { label: '备注', name: 'taskRemark', align: 'left', width: "150" },
                            {
                                label: '操作',
                                name: 'taskOperate',
                                align: 'center',
                                width: "200",
                                sortable:false,
                                formatter: function(cellvalue, options, rowObject) {
                                    if (cellvalue == 0)
                                        return '<span class=\"label label-success\">启动</span>';
                                    else
                                        return '<span class=\"label label-default\">停止</span>';
                                }
                            }
                        ],
                        pager: "#gridPager",
                        sortname: 'TaskId',
                        viewrecords: true
                    });
                    $("#btn_search").click(function () {
                        $("#grid").jqGrid('setGridParam', {
                            postData: { keyword: $("#txt_keyword").val() }
                        }).trigger('reloadGrid');
                    });
                },
                addTask: function () {
                    $.modalOpen({
                        id: "Form",
                        title: "新增任务",
                        url: "/Task/Form",
                        width: "600px",
                        height: "550px",
                        callBack: function (iframeId) {
                            top.frames[iframeId].$.taskForm.submitForm();
                        }
                    });
                },
                editTask: function () {
                    var keyValue = $("#grid").jqGridRowValue().Id;
                    if (!keyValue) {
                        $.UnChecked();
                        return;
                    }
                    $.modalOpen({
                        id: "Form",
                        title: "修改任务",
                        url: "/Task/Form?keyValue=" + keyValue,
                        width: "600px",
                        height: "550px",
                        callBack: function (iframeId) {
                            top.frames[iframeId].$.taskForm.submitForm();
                        }
                    });
                },
                removeTask: function () {
                    if (!$("#grid").jqGridRowValue().Id) {
                        $.UnChecked();
                        return;
                    }
                    $.deleteForm({
                        url: "/Task/Delete",
                        param: { keyValue: $("#grid").jqGridRowValue().Id },
                        success: function () {
                            $.currentWindow().$("#grid").trigger("reloadGrid");
                        }
                    });
                }
            };
        })(jQuery);
    </script>
}
@section styles{
    <link href="~/Content/css/plugins/jqgrid/jqgrid.css" rel="stylesheet" />
    <link href="~/Content/css/framework-ui.css" rel="stylesheet" />
}

