<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="add" class="btn btn-primary dropdown-text" onclick="$.nodeIndex.addNode()"><i class="fa fa-plus"></i>新建节点</a>
        </div>
        <div class="btn-group">
            <a id="edit" class="btn btn-primary dropdown-text" onclick="$.nodeIndex.editNode()"><i class="fa fa-plus"></i>编辑节点</a>
        </div>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="节点名称" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="grid"></table>
    <div id="gridPager"></div>
</div>
@section scripts{
    <script src="~/Content/js/framework-ui.js"></script>
    <script src="~/Content/css/plugins/jqgrid/jqgrid.min.js"></script>
    <script src="~/Content/js/plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="~/Content/js/plugins/dialog/dialog.js"></script>

    <script>
        $(function () {
            $.nodeIndex.initGrid();
        });
        (function ($) {
            $.nodeIndex = {
                initGrid: function () {
                    $("#grid").dataGrid({
                        url: "/Node/List",
                        height: $(window).height() - 128,
                        colModel: [
                            { label: '主键', name: 'nodeId', align: 'center' },
                            { label: '节点名称', name: 'nodesName', align: 'center' },
                            { label: 'IP地址', name: 'nodeIp', align: 'center' },
                            {
                                label: '创建时间',
                                name: 'createTime',
                                align: 'center',
                                formatter: function (cellvalue, options, rowObject) {
                                    if (cellvalue != '')
                                        return $.FormatDateBoxFull(cellvalue);
                                    else
                                        return cellvalue;
                                }
                            },
                            {
                                label: '修改时间',
                                name: 'lastUpdTime',
                                align: 'center',
                                formatter: function (cellvalue, options, rowObject) {
                                    if (cellvalue != '')
                                        return $.FormatDateBoxFull(cellvalue);
                                    else
                                        return cellvalue;
                                }
                            },
                            {
                                label: "是否检查",
                                name: "checkState",
                                align: "center",
                                formatter: function (cellvalue, options, rowObject) {
                                    if (cellvalue)
                                        return '<span class=\"label label-success\">是</span>';
                                    else
                                        return '<span class=\"label label-default\">否</span>';
                                }
                            }
                        ],
                        pager: "#gridPager",
                        sortname: 'nodeId',
                        viewrecords: true
                    });
                    $("#btn_search").click(function () {
                        $("#grid").jqGrid('setGridParam', {
                            postData: { keyword: $("#txt_keyword").val() }
                        }).trigger('reloadGrid');
                    });
                },
                addNode: function () {
                    $.modalOpen({
                        id: "Form",
                        title: "新增节点",
                        url: "/Node/Form",
                        width: "600px",
                        height: "200px",
                        callBack: function (iframeId) {
                            top.frames[iframeId].$.nodeFrom.submitForm();
                        }
                    });
                },
                editNode: function () {
                    var keyValue = $("#grid").jqGridRowValue().nodeId;
                    if (!keyValue) {
                        $.UnChecked();
                        return;
                    }
                    $.modalOpen({
                        id: "Form",
                        title: "修改节点",
                        url: "/Node/Form?keyValue=" + keyValue,
                        width: "600px",
                        height: "200px",
                        callBack: function (iframeId) {
                            top.frames[iframeId].$.nodeFrom.submitForm();
                        }
                    });
                },
                removeNode: function () {
                    if (!$("#grid").jqGridRowValue().nodeId) {
                        $.UnChecked();
                        return;
                    }
                    $.deleteForm({
                        url: "/Node/Delete",
                        param: { keyValue: $("#grid").jqGridRowValue().nodeId },
                        success: function () {
                            $.currentWindow().$("#grid").trigger("reloadGrid");
                        }
                    });
                }
            };
        })(jQuery);
    </script>
}
@section styles{
    <link href="~/Content/js/plugins/dialog/dialog.css" rel="stylesheet" />
    <link href="~/Content/css/plugins/jqgrid/jqgrid.css" rel="stylesheet" />
    <link href="~/Content/css/framework-ui.css" rel="stylesheet" />
}

