<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="add" class="btn btn-primary dropdown-text" onclick="$.taskIndex.addTask()"><i class="fa fa-plus"></i>新建任务</a>
        </div>
        <div class="btn-group">
            <a id="edit" class="btn btn-primary dropdown-text disabled" onclick="$.taskIndex.editTask()"><i class="fa fa-plus"></i>编辑任务</a>
        </div>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="任务名称" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="grid"></table>
    <div id="gridPager"></div>
</div>
@section scripts{
    <script src="~/Content/css/plugins/jqgrid/jqgrid.min.js"></script>
    <script src="~/Content/js/plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="~/Content/js/framework-ui.js"></script>
    <script src="~/Content/js/plugins/dialog/dialog.js"></script>
    <script>
        var lastSel;
        $(function () {
            $.taskIndex.initGrid();
        });
        (function ($) {
            $.taskIndex = {
                initGrid: function () {
                    $("#grid").dataGrid({
                        url: "/Task/List",
                        height: $(window).height() - 120,
                        colModel: [
                            { label: '主键', name: 'taskId', align: 'center', width: "80", hidden: true },
                            { label: '扩展备用', name: 'taskOperate', align: 'center', hidden: true },
                            { label: '任务名称', name: 'taskName', align: 'left', width: "100" },
                            { label: '执行频率', name: 'taskCron', align: 'center', width: "100" },
                            {
                                label: '创建时间',
                                name: 'createTime',
                                align: 'center',
                                width: "120",
                                formatter: function(cellvalue, options, rowObject) {
                                    if (cellvalue != '')
                                        return $.FormatDateBoxFull(cellvalue);
                                    else
                                        return cellvalue;
                                }
                            },
                            {
                                label: '修改时间',
                                name: 'lastUpdTime',
                                align: 'center',
                                width: "120",
                                formatter: function(cellvalue, options, rowObject) {
                                    if (cellvalue != '')
                                        return $.FormatDateBoxFull(cellvalue);
                                    else
                                        return cellvalue;
                                }
                            },
                            {
                                label: '最后启动时间',
                                name: 'taskLastStartTime',
                                align: 'center',
                                width: "120",
                                formatter: function(cellvalue, options, rowObject) {
                                    if (cellvalue != '')
                                        return $.FormatDateBoxFull(cellvalue);
                                    else
                                        return cellvalue;
                                }
                            },
                            {
                                label: '最后停止时间',
                                name: 'taskLastEndTime',
                                align: 'center',
                                width: "120",
                                formatter: function(cellvalue, options, rowObject) {
                                    if (cellvalue != '')
                                        return $.FormatDateBoxFull(cellvalue);
                                    else
                                        return cellvalue;
                                }
                            },
                            {
                                label: '最后执行出错时间',
                                name: 'taskLastErrorTime',
                                align: 'center',
                                width: "120",
                                formatter: function(cellvalue, options, rowObject) {
                                    if (cellvalue != '')
                                        return $.FormatDateBoxFull(cellvalue);
                                    else
                                        return cellvalue;
                                }
                            },
                            { label: '运行次数', name: 'taskRunCount', align: 'center', width: "100" },
                            { label: '连续出错次数', name: 'taskErrorCount', align: 'center', width: "100" },
                            {
                                label: "任务状态",
                                name: "taskState",
                                align: "center",
                                width: "100",
                                formatter: function(cellvalue, options, rowObject) {
                                    if (cellvalue)
                                        return '<span class=\"label label-success\">启动</span>';
                                    else
                                        return '<span class=\"label label-default\">停止</span>';
                                }
                            },
                            { label: '备注', name: 'taskRemark', align: 'left', width: "150" },
                            {
                                label: '操作',
                                name: 'operate',
                                align: 'center',
                                width: "250",
                                sortable: false,
                                formatter: function (cellvalue, options, rowObject) {
                                    var html = [];
                                    if (rowObject.taskState)
                                        html.push('<a class="btn-sm btn-default" onclick=\"$.taskIndex.startOrStopTask(' + rowObject.taskId + ',' + rowObject.taskState + ');\"><i class="fa fa-stop"></i>&nbsp;停止</a>');
                                    else
                                        html.push('<a class="btn-sm btn-success" onclick=\"$.taskIndex.startOrStopTask(' + rowObject.taskId + ',' + rowObject.taskState + ');\"><i class="fa fa-play"></i>&nbsp;启动</a>');
                                    //html.push('<a class="btn-sm btn-warning" onclick=\"$.taskIndex.unInstallTask(' + rowObject.taskId + ');\"><i class="fa fa-institution"></i>&nbsp;卸载</a>');
                                    html.push('<a class="btn-sm btn-info"><i class="fa fa-file-text"></i>&nbsp;日志</a>');
                                    html.push('<a class="btn-sm btn-primary"><i class="fa fa-file-text"></i>&nbsp;查看</a>');
                                    return html.join(" ");
                                }
                            }
                        ],
                        pager: "#gridPager",
                        sortname: 'taskId',
                        viewrecords: true,
                        onSelectRow: function(id) {
                            if (id && id !== lastSel) {
                                var sel = $("#grid").jqGrid("getRowData", id);
                                if (sel.taskOperate == "false") {
                                    $("#edit").removeClass("disabled");
                                } else {
                                    $("#edit").addClass("disabled");
                                }
                            }
                        }
                    });
                    $("#btn_search").click(function () {
                        $("#grid").jqGrid('setGridParam', {
                            postData: { keyword: $("#txt_keyword").val() }
                        }).trigger('reloadGrid');
                    });
                },
                addTask: function () {
                    $.modalOpen({
                        id: "Form",
                        title: "新增任务",
                        url: "/Task/Form",
                        width: "600px",
                        height: "550px",
                        callBack: function (iframeId) {
                            top.frames[iframeId].$.taskForm.submitForm();
                        }
                    });
                },
                editTask: function () {
                    var keyValue = $("#grid").jqGridRowValue().taskId;
                    if (!keyValue) {
                        $.UnChecked();
                        return;
                    }
                    $.modalOpen({
                        id: "Form",
                        title: "修改任务",
                        url: "/Task/Form?keyValue=" + keyValue,
                        width: "600px",
                        height: "550px",
                        callBack: function (iframeId) {
                            top.frames[iframeId].$.taskForm.submitForm();
                        }
                    });
                },
                removeTask: function () {
                    if (!$("#grid").jqGridRowValue().Id) {
                        $.UnChecked();
                        return;
                    }
                    $.deleteForm({
                        url: "/Task/Delete",
                        param: { keyValue: $("#grid").jqGridRowValue().Id },
                        success: function () {
                            $.currentWindow().$("#grid").trigger("reloadGrid");
                        }
                    });
                },
                startOrStopTask:function(_taskId,_status) {
                    if (_status) {
                        $.modalConfirm("确定停止任务", function() {

                        });
                    } else {
                        $.modalConfirm("确定启动任务", function () {

                        });
                    }
                },
                unInstallTask:function(_taskId) {
                    $.modalConfirm("确定卸载任务", function () {

                    });
                }
            };
        })(jQuery);
    </script>
}
@section styles{
    <link href="~/Content/css/plugins/jqgrid/jqgrid.css" rel="stylesheet" />
    <link href="~/Content/css/framework-ui.css" rel="stylesheet" />
}

